
.bg-primary {
    background-color: #040911;
}

nav {
    margin-top: 1em;
}

.about-me-text {
    background-color: #404142;
    margin: 1em;
    border-radius: 5px;
}

.about-me-text>h1, .about-me-text>h3, .about-me-text>p {
    padding: 15px 15px 15px 15px;
}

.page-footer {
    margin-left: 1em;
    margin-bottom: 2em;
    margin-right: 1em;
}

.social-link, .social-link:hover {
    color: white;
}